<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--1.扫描controller包-->
    <context:component-scan base-package="com.heima.travel.controller"/>
    <!--2. 创建视图解析器   这里是可以不写的，因为全程是使用异步交互没有controller跳转页面-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>
    <!--3. 开启注解驱动-->
    <mvc:annotation-driven/>
    <!--4. 释放资源，管理静态资源-->
    <mvc:default-servlet-handler/>

</beans>