<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--    指定扫描的基包-->
    <context:component-scan base-package="com.heima"/>
    <bean class="java.lang.String" id="man">
        <constructor-arg value="孙悟空"/>
    </bean>
    <bean class="java.lang.String" id="woman">
        <constructor-arg value="孙上香"/>
    </bean>
    <bean class="java.lang.Integer" id="age">
        <constructor-arg value="1"/>
    </bean>
</beans>