<script src="js/axios-0.19.0.js"></script>
<script src="js/vue.js"></script>
<meta charset="utf-8">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/common.css">

<div id="headerContainer">
    <!-- 头部 start -->
    <div class="top_banner">
        <div class="shortcut">
                <!-- 未登录状态  -->
                <div class="login_out" v-if="!isLogined">
                    <a href="login.html">登录</a>
                    <a href="register.html">注册</a>
                </div>
                <!-- 登录状态  -->
                <div class="login" v-else="isLogined">
                    <span id="welcome">欢迎您！{{user.username}}</span>
                    <a href="cart.html" class="collection">购物车</a>
<!--                   href="javascript:;" 代表 a标签不执行页面跳转，只执行js方法 -->
                    <a href="javascript:;" @click="logout()">退出</a>
                </div>
        </div>
    </div>
    <!-- 首页导航 -->
    <div class="navitem">
        <ul class="nav">
             <li><a href="index.html">首页</a></li>
        <li v-for="category in categorys">
            <a :href=`route_list.html?cid=${category.cid}`>{{category.cname}}</a>
        </li>
        <li><a href="favorite_rank.html">收藏排行榜</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    new Vue({
        el:"#headerContainer",
        data:{
            isLogined: false,
            user:{},
            categorys:[],
        },
        methods:{
            checkLogin(){
                axios.get("/user/isLogined").then(resp=>{
                        let resultInfo = resp.data;
                        if (resultInfo.success){
                            this.isLogined = true;
                            this.user = resultInfo.data;
                        }
                        console.log("登录状态：" + resultInfo.message)
                    }
                ).catch(err=>{
                    alert(err.methods)
                })
            },
            logout(){
                axios.get("/user/logout").then(resp=>{
                        if  (resp.status == 200 ){
                           location.href="/login.html"
                        }
                    }
                ).catch(err=>{
                    alert(err.methods)
                })
            },
            loadCategory(){
                axios.get("/category/findAll").then(resp=>{
                        this.categorys = resp.data
                    }
                ).catch(err=>{
                    alert(err.methods)
                })
            }
        },
        created(){
            this.checkLogin();
            this.loadCategory();
        }
    })
</script>