<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>线路列表</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/zpageNav.css">

    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/getParameter.js"></script>

    <script src="js/vue.js"></script>
    <script src="js/axios-0.19.0.js"></script>
    <script src="js/include.js"></script>
    <!--分页插件-->
    <script src="js/zpageNav.js"></script>
</head>
<body>
<div id="header"></div>
<div class="page_one" id="app">
    <div class="contant">
        <div class="crumbs">
            <img src="images/search.png" alt="">
            <p>黑马旅行><span>搜索结果</span></p>
        </div>
        <div class="search">
            <input id="rname" name="rname" v-model="rname" type="text" placeholder="请输入路线名称" class="search_input" autocomplete="off">
            <a href="javascript:;" @click="search"  class="search-button">搜索</a>
        </div>
        <div class="hot_pic">
            <img src="images/hot_tel.jpg" alt="">
        </div>
        <div class="hot_tel">
            <p class="hot_time">客服热线(9:00-6:00)</p>
            <p class="hot_num">400-618-9090</p>
        </div>

        <div class="xinxi clearfix">
            <div class="left">
                <div class="header">
                    <span>商品信息</span>
                    <span class="jg">价格</span>
                </div>
                <ul>
                    <li v-for="route in pageInfo.list">
                        <div class="img"><img :src="route.rimage" alt=""></div>
                        <div class="text1">
                            <p>{{route.rname}}</p>
                            <br/>
                            <p>{{route.routeIntroduce}}</p>
                        </div>
                        <div class="price">
                            <p class="price_num">
                                <span>&yen;</span>
                                <span>{{route.price}}</span>
                                <span>起</span>
                            </p>
                            <p><a :href=`route_detail.html?rid=${route.rid}`>查看详情</a></p>
                        </div>
                    </li>
                </ul>
                <div class="page_num_inf">
                    <zpage-nav :page="pageInfo.pageNum" :total="pageInfo.total" :page-size="pageInfo.pageSize" :max-page="maxPage" @pageHandler="changePage">
                    </zpage-nav>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
</html>
<script type="text/javascript">
    new Vue({
        el:"#app",
        data:{
            cid:0,
            pageInfo:{},
            maxPage:10,
            rname:"",
        },
        methods:{
            changePage(pageNum){

                let cid = getParameter("cid") || 0;
                this.cid = cid
                axios.get("/route/find?cid=" + this.cid+"&currentPage="+pageNum+"&rname="+this.rname).then(resp=>{
                    let pageInfo = resp.data;
                    this.pageInfo = pageInfo;
                    console.log("pageInfo:"+JSON.stringify(pageInfo));
                }).catch(err=>{
                    alert(err.message)
                })
            },
            search(){
                axios.get("/route/find?rname=" + this.rname).then(resp=>{
                    let pageInfo = resp.data;
                    this.pageInfo = pageInfo;
                    console.log("pageInfo:"+JSON.stringify(pageInfo));
                }).catch(err=>{
                    alert(err.message)
                })
            }
        },
        created(){
            this.changePage(1);
        }

    })
</script>